<app-header></app-header>
<app-left
  [childComponent]="parentComponent"
  (userData)="getNumber($event)"
></app-left>
<app-middle></app-middle>
<app-right></app-right>
<app-practice></app-practice>

<!-- -----------------service and provider-----------------
<div class="col-md-12">
  <div class="row">
    <div class="col-md-4 offset-md-1 mb-4 mt-5">
      <div class="card" style="width: 25rem">
        <div class="card-body">
          <h3>Product</h3>
          <app-product></app-product>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-1 mb-4 mt-5">
      <div class="card" style="width: 25rem">
        <div class="card-body">
          <h3>Product list</h3>
          <app-productlist></app-productlist>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div> -->
